body {
    overflow-wrap: break-word;
}

table {
    border-collapse: collapse;
    caption-side: bottom;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
  }


td {
    border: 1px solid #eee;
    padding: 0.5em;
}

th {
    padding: 0.5em;
}

#TOC ul {
    padding-left: 1.5em;
}

/* this one has to come after the #TOC ul selector, to override the padding just for the top-level ul */
#TOC > ul {
    padding-left: 0em;
}

#TOC li {
    list-style: none;
    border-left: 2px solid #eee;
    padding-left: 0.2em;
}

#TOC a:not(:hover) {
    text-decoration: none;
}

blockquote {
    padding-left: 1em;
    border-left: 2px solid #e6e6e6;
    color: #606060;
}

div.csl-entry {
    margin-left:2em;
    text-indent:-2em;
    margin-bottom: 1em;
}

div.csl-left-margin {
    min-width:2em;
    float:left;
}

div.csl-right-inline {
    margin-left:2em;
    padding-left:1em;
}

#title-block-header {
    text-align: center;
}

.publications-web-banner {
    background-color: #f6f6f6; padding: 0.1em 1em 0.1em 1em;
    border: 1px solid #ccc;
    margin-bottom: 1em;
}

h2 {
    margin-bottom: 0.2em;
}

p {
    margin-top: 0;
}

p.author {
    clear: both;
}

h1 {
    line-height: 1em;
}

img {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

figcaption {
    text-align: center;
}
/*
.header-section-number, .toc-section-number {
    color: blue;
}
*/